*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
html{
    scroll-behavior: smooth;
}
.head{
    display: flex;
}
#social{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}
i{
    font-size: 35px;
    color: #FFD700;
}
i:hover{
    color: #B913F3;
}
.side a{
    text-decoration: none;
}
.side{
    margin-left: 1rem;
    position: absolute;
}
.line{
    margin-left: 20px;
}
.logo{
    margin-top: 0.5rem;
    height: 10vh;
}
nav{
    margin-top: 1rem;
    margin-left: 6rem;
    display: flex;
    transition: 0.5s;
}
nav h1{
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 11px;
    margin-top: 2rem;
    margin-left: 2rem;
    line-height: 20px;
}
nav ul{
    margin-top: 1.5rem;
    margin-left: 24rem;
    display: flex;
    list-style-type: none;
}
nav ul li{
   margin-left: 3rem;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Mitr', sans-serif;
    color: rgba(155, 149, 149, 1);
    line-height: 31px;
}
nav ul li a:hover{
    color:rgba(255, 215, 0, 1);
    font-size: 1.2rem;
}
nav ul li span{
    color: rgba(185, 19, 243, 1);
}
.intro{
    display: flex;
}
.intro .recimg{
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
}
.intro .recimg2{
    display: none;
}
.greet img{
    margin-top: 4rem;
    margin-left: 5rem;
}
.greet .talk{
    display: flex;
    width: 220px;
    height: 70px;
    border: 1px solid rgba(255, 215, 2, 1);
    margin-left: 5rem;
}
.greet .talk:hover{
   background-color: rgba(110, 9, 177, 0.2);
}
.greet .talk .talkwhat{
    width: 30px;
    height: 10vh;
    background: none;
    margin: 0;
    margin-top: 0.3rem;
    margin-left: 1.5rem;
}
.greet h1{
    color: white;
    margin-top: 1rem;
    margin-left: 5rem;
    font-family:'Press Start 2P', cursive;
}
.greet p{
    margin-left: 5rem;
    margin-top: 2rem;
    color:rgba(155, 149, 149, 1);
    font-family:'Mitr', sans-serif ;
}
.working{
    margin-left: 7rem;
}
.story{
    display: flex;
}
.story .mask{
    margin-left: 5rem;
    height: 50vh;
}
.story .cont h1{
    color: rgba(255, 215, 0, 1);
    font-size: 60px;
    font-family: 'Vidaloka', serif;
    margin-left: 10rem;
    margin-top: 3rem;
}
.story .cont p{
    color: white;
    font-size: 1.2rem;
    font-family: 'Vidaloka', serif;
    margin-left: 10rem;  
    padding-right: 7rem; 
}
.what h1{
    margin-top: 3rem;
    margin-left: 12rem;
    color:rgba(255, 215, 0, 1) ;
    font-size: 30px;
    font-family: 'Mitr', sans-serif ;
}
#slid{
    margin-left: 15%;
    cursor: pointer;
    width: 80vh;
}
.what-content img{
    width: 100vh;
    margin-left: 7rem;
    margin-top: 2rem;
    transition: transform 0.3s ease-out;
}
.what-content img:hover{
    opacity: 1;
    transform: scale(1.2);
}
footer h1{
    color:rgba(255, 215, 2, 1) ;
    font-size: 36px;
    font-family: 'Old Standard TT', serif;
    margin-left: 7rem;
    margin-top: 5rem;
}
footer h2{
    color: white;
    font-size: 48px;
    font-family: 'Old Standard TT', serif;
    margin-left: 30%;
}
footer h2 span{
    color:rgba(255, 215, 2, 1) ;
}
form {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 20%;
    font-size: 1.5rem;
    font-family: 'Old Standard TT', serif;
  }
  
  label {
    margin-bottom: 1rem;
  }
  
  input{
    padding: 10px;
    margin-bottom: 1.5rem;
    border: 3px solid #FFD700;
    border-radius: 1rem;
    font-size: 16px;
    width: 400px;
    font-family: 'Old Standard TT', serif;
    height: 10vh;
    color: white;
  }
  textarea {
    padding: 10px;
    margin-bottom: 1.5rem;
    border: 3px solid #FFD700;
    border-radius: 1rem;
    font-size: 16px;
    width: 500px;
    font-family: 'Old Standard TT', serif;
    height: 40vh;
    color: white;
  }
  button {
    background-color: #FFD700;
    color: white;
    padding: 10px 20px;
    border-radius: 0.7rem;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    height: 10vh;
    font-family: 'Old Standard TT', serif;
    font-size: 2rem;
    font-weight: 900;
  }
  
  button:hover {
    background-color: #B913F3;
  }
footer p{
    margin-top: 2rem;
    font-family: 'Vidaloka', serif;
    color: #565454;
    margin-left:40% ;
}

/* MEDIA QUERIES */
@media (max-width: 1440px) {
    
}
@media (min-width: 200px) and (max-width: 640px) {
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: auto;
}
    i{
        font-size: 20px;
    }
    .line{
        height: 10vh;
    }
    .side{
        margin-left: 0.5rem;
    }
    .logo{
        margin-top: 0.2rem;
        height: 9vh;
        width: 10vh;
        margin-left: 10rem;
    }
    nav{
        flex-direction: column;
        margin-left: 3rem;
    }
    nav h1{
        margin-top: 1rem;
        margin-left: 7rem;
        width: 300px;
        line-height: 10px;
    }
    nav ul{
        margin-top: 1.5rem;
        margin-left: 1rem;
    }
    nav ul li{
        margin-left: 1.5rem;
        font-size: 0.8rem;
    }
    .intro{
        flex-direction: column;
    }
    .intro .recimg{
       display: none;
    }
    .intro .recimg2{
        display: block;
        width: 22rem;
        height: 40vh;
        margin-bottom: 1rem;
        margin-left: 3rem;
        padding: 1.5rem;
    }
    .greet{
        margin-left: 4rem;
    }
    .greet img{
        margin-top: 1rem;
        height: 7vh;
        margin-left: 5%;
    }
    .greet h1{
        font-size: 18px;
        line-height: 20px;
        margin-top: 1.5rem;
        margin-left: 0;
        width: 300px;
    }
    .greet p{
        width: 200px;
        margin-top: 2rem;
        margin-left: 0;
        margin-bottom: 2rem;
    }
    .working{
        height: 5vh;
        margin-top: 0;
        margin-left: 6rem;
    }
    .greet .talk{
        width: 150px;
        height: 7vh;
        margin-top: 30px;
        margin-left: 50px;
    }
    .greet .talk .talkwhat{
        margin-top: 0;
        width: 20px;
        height: 7vh; 
    }
    .what{
        width: auto;
    }
    #slid{
        width: 35vh;
        margin-left: 5rem;
    }
    .story{
        flex-direction: column;
    }
    .story .mask{
        margin-top: 2rem;
        margin-left: 4rem;
        height: 40vh;
        width: 300px;
    }
    .story .cont h1{
        font-size: 40px;
        margin-left: 6rem;
        width: 70px;
    }
    .story .cont p{
        margin-top: 1rem;
        font-size: 1rem;
        margin-left: 5rem;
        padding-right: 2rem;
    }
    .what{
        width: 300px;
    }
    .what h1{
        font-size: 20px;
        margin-left: 6rem;
    }
    .what img{
        margin-left: 0;
        margin-top: 1.5rem;
        width: 35vh;
    }
    footer h1{
        font-size: 24px;
    }
    footer h2{
        margin-top: 2rem;
        margin-left: 30%;
        font-size: 24px;
        width: 200px;
    }
    form{
        font-size: 1rem;
        margin-top: 1rem;
        margin-left: 60px;
        width: 300px;
    }
    input{
        width: 300px;
        height: 7vh;
    }
    textarea{
        width: 300px;
    }
    button{
        width: 100px;
        height: 7vh;
        font-size: 11px;
    }
    footer p{
        margin-left: 25%;
        width: 300px;
    }
}
@media (min-width: 641px) and (max-width: 1100px){
    
    nav ul{
        margin-left: 24px;
    }
    nav ul li{
        margin-left: 1.5rem;
    }
    .intro .recimg{
        width: 25rem;
        height: 70vh;
        margin-bottom: 1rem;
        margin-left: 2rem;
        padding: 1.5rem;
    }
    .story .cont h1{
        margin-left: 7rem;
    }
    .story .cont p{
        margin-left: 7rem;
        padding-left: 0.4rem;
        width: 250px;
        padding-right: 0;
        font-size: 0.8rem;
    }
    .story .mask{
        margin-top: 2rem;
        margin-left: 2.5rem;
        height: 35vh;
        width: 250px;
    }
    .what img{
        margin-top: 1.5rem;
        width: 35vh;
    }
    form{
        font-size: 1.3rem;
        margin-top: 1rem;
    }
    input{
        width: 300px;
        height: 7vh;
    }
    textarea{
        width: 300px;
    }
    
    button{
        width: 200px;
        height: 8vh;
        font-size: 14px;
    }
    footer p{
        margin-left: 20%;
    }
}
